/* ---------- 共通のスタイル ---------- */
* {
  margin: 0;
  padding: 0;
}

/* TODO: 最適化 */
.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 30px;
}

/* ---------- header ---------- */
.header {
  height: 56px;
  width: 100%;
  line-height: 56px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  position: fixed;
  background-color: #fff;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  color: #5a5c5f;
  text-decoration: none;
  margin-left: 16px;
}

/* ---------- footer ---------- */
.footer {
  height: 120px;
  background-color: #2f3a44;
  color: #e8e8e8;
}

.footer-left {
  float: left;
  margin: 20px 0;
}

.footer-left p {
  margin-bottom: 8px;
}

.footer-right {
  float: right;
  padding-top: 60px;
}
