.contact {
  padding: 95px 0 60px;
  color: #3a3c40;
}

.contact-title {
  margin-bottom: 15px;
}

.contact-description {
  margin-bottom: 25px;
}

input, textarea {
  font-size: 15px;
  font-weight: 300;
  padding: 2px 4px;
  width: 360px;
}

.contact-form h4 {
  margin-top: 16px;
  margin-bottom: 1px;
  color: #4c4e52;
}

.contact-form textarea {
  margin-top: 5px;
}

.submit-button {
  margin-top: 20px;
  font-size: 18px;
  width: 80px;
}
