/* ---------- 共通のスタイル ---------- */
* {
  margin: 0;
  padding: 0;
}

/* TODO: 最適化 */
.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 30px;
}

/* ---------- header ---------- */
.header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 3px 5px #e1e8e9;
  position: fixed;
  background-color: #ffffff;
  opacity: 0.8;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right li {
  float: left;
  list-style: none;
}

/* ---------- main ---------- */
.main {
  padding: 140px 0 100px;
  text-align: center;
  /* TODO: 画像に変える */
  background: rgb(194, 251, 255);
}

.main-title {
  margin-bottom: 10px;
  font-size: 64px;
}

.main-subtitle {
  margin-bottom: 60px;
}

.main-text {
  color: #555;
}

/* ---------- menus ---------- */
.menus {
  padding: 84px 0;
}

.menus h2 {
  text-align: center;
  margin-bottom: 48px;
  text-decoration: underline;
}

.menu-item-wrapper {
  display: inline-block;
  width: 33%;
}

.menu-item {
  margin: 0 32px;
  padding: 30px 36px;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.menu-image {
  width: 100%;
  margin-bottom: 20px;
}

.menu-title {
  margin-bottom: 5px;
}

.menus-bottom {
  text-align: center;
  padding-top: 52px;
}

.menus-button {
  background-color: #26a700;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 18px;
}

/* ---------- footer ---------- */
.footer {
  height: 120px;
  background-color: #4872a8;
}
