/* ---------- main ---------- */
.main {
  text-align: center;
  background-image: url("images/cafe2-2.png");
  background-size: cover;
  color: #f1f1f1;
}

/* TODO: remove */
.main-bg {
  padding: 140px 0 100px;
  background-color: rgba(116, 117, 121, 0.45);
}

.main-title {
  margin-bottom: 10px;
  font-size: 64px;
}

.main-subtitle {
  margin-bottom: 60px;
}

.main-text {
  opacity: 0.9;
}

/* ---------- menus ---------- */
.menus {
  padding: 84px 0;
  height: 440px;
  color: #3a3c40;
}

.menus-left {
  float: left;
  width: 30%;
}

.menus-left h3 {
  margin-bottom: 10px;
  border-bottom: 1px dotted #555;
}

.menus-left ul {
  padding-left: 20px;
  margin-bottom: 32px;
}

.menus-right {
  float: left;
  width: 70%;
}

.menus-right h3 {
  margin-left: 72px;
  margin-bottom: 16px;
}

.menu-card {
  margin-left: 72px;
  box-shadow: 1px 1px 4px #b7b7b7;
  border-radius: 7px;
  padding: 28px 44px;
  background-color: #f1f3f5;
}

.menu-card-image {
  width: 200px;
  margin-bottom: 12px;
}

.menu-card-text {
}
